h1{
    color: darkorchid;
}
.img{
    width: 100px;
    height: 100px;
}
.text{
    font-size: larger;
    color: rgb(7, 68, 48);
}
.title{
    font-style: italic;
    font-size: 16px;
    color:rgb(101, 22, 141);
}